%span.write{"data-target" => "#sampleModal", "data-toggle" => "modal", :type => "button"}
  %i.fa.fa-search


#sampleModal.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span ×
        %h4.modal-title 投稿する
      .modal-body
        = form_for @post, url: posts_path do |f|
          .form-graoup
            = f.fields_for :post_categories do |category|
              = render 'posts/post_categories_fields', f: category    
          .form-group
            = link_to_add_association '子を追加', f, :post_categories , partial: 'posts/post_categories_fields',data: { association_insertion_method: 'before' }
                    
          .form-group
            %label タイトル
            = f.text_field :title, class:'form-control'
          .form-group
            %label 内容
            = f.text_area :body, size: '70x10',class: 'form-control'
          = f.submit '保存', class: 'btn btn-primary', data: {confirm: '投稿しますか？'}
      